<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column">
                <p class="footer-text"><a href="https://github.com/krothleder" target="_blank">Made With <i class="fa fa-coffee" aria-hidden="true"></i> By Kaylynn Rothleder</a>
                </p>
            </div>
        </div>
    </div>
</footer>