<header class="navbar">
    <div class="container">
        <div class="row">
            <div class="column column-80">
                <ul class="nav-menu">
                    <li><a href="/">
                        {{#if showTitle}}
                            <strong class="active">Home</strong>
                        {{else}}
                            Home
                        {{/if}}                        
                    </a></li>
                    <li><a href="/work">
                        {{#if showWork}}
                            <strong class="active">Work</strong>
                        {{else}}
                            Work
                        {{/if}}
                    </a></li>
                    <li><a href="/about">
                        {{#if showAbout}}
                            <strong class="active">About</strong>
                        {{else}}
                            About
                        {{/if}}
                    </a></li>
                </ul>
            </div>
            <div class="column column-15">
                <ul class="navbar-social-links">
                    <li><a href="mailto:kaylynn.rothleder@gmail.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/krothleder" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    <li><a href="https://https://www.linkedin.com/in/kaylynn-rothleder-56a870b1/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h2>Kaylynn Rothleder</h2>
            </div>
        </div>
    </div>
</header>