<section class="error">
    <div class="container">
        <div class="row">
        <div class="column column-80 column-offset-10">
            <h1>404</h1>
        </div>
    </div>
    <div class="row">
        <div class="column">
           <video autoplay loop muted playsinline class="error-vid">
            <source src="assets/imgs/no.mp4" type="video/mp4" />
            <img src='assets/imgs/no-small.gif' />
           </video>
        </div>
    </div>
    </div>
</section>